body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
  }
  
  .product h2 {
    font-size: 18px;
  }
  
  .product p {
    font-size: 14px;
  }
  
  .add-to-cart {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: darkgreen;
  }

  .add-to-wishlist {
    background-color:rgb(55, 135, 255);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
    
  .add-to-wishlist:hover {
    background-color: rgb(43, 102, 190);
  }

  .remove-button {
    background-color:rgb(255, 55, 55);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
    
  .remove-button:hover {
    background-color: rgb(209, 42, 42);
  }

  .nav-items {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    align-content: center;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }

  .nav-input input, .nav-input input::placeholder {
    text-indent: 4%;
    color: black;
    background-color: #ccc;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 1px 2px #ccc;
    height: 100%;
  }

  .notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure the notification appears above other elements */
  }